body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face{
  font-family: BlackJack;
  src: url('./fonts/blackjack.otf') format('opentype');
}

@font-face{
  font-family: PTSansRegular;
  src: url('./fonts/PTSans-Regular.ttf') format('truetype');
}

html, body{
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #fcbb15 !important;
  font-family: PTSansRegular !important;
}

#root{
  height: 100%;
}